FRONTIER_UPSTREAM_BASE_URL=http://127.0.0.1:28410/v1
FRONTIER_UPSTREAM_API_KEY=
FRONTIER_GROK_PROXY_KEY=
FRONTIER_FUGU_PROXY_KEY=
FRONTIER_HINDSIGHT_TOKEN=
FRONTIER_POSTGRES_PASSWORD=
FRONTIER_RUN_DIR=/home/ubuntu/.attestmesh/hindsight-frontier-canary/frontier-YYYYMMDD
FRONTIER_RUN_UID=1000
FRONTIER_RUN_GID=1000
